body{
    background-image: url(https://thumbs.dreamstime.com/b/programming-code-coding-hacker-background-icon-made-binary-digital-data-streaming-matrix-digits-vector-illustration-180655448.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: floralwhite;
 
}
*{
    box-sizing: border-box;
}

h1, h2{
    text-align: center;
   color: floralwhite;
}
h2{
    font-style: italic;
}

form{
    max-width: 750px;
    min-width: 375px;
    margin: 0 auto;
    padding: 3rem;
    border: 5px solid floralwhite;
    font-size: 1.5rem;
    background-color: rgba(36, 22, 74, 0.8);
    border-radius: 10px;
}
.block >label >input , select, input[type="submit"]{
    display: block;
    width: 100%;
    height: 3rem;
    margin: 5px 0;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid cyan;
}
.radio label, .checkbox label{
    display: block;
    
}

textarea{
    width: 100%;
    height: 10rem;
    margin: 5px 0;
    font-size: 1rem;
    border-radius: 10px;
    border-radius: 10px;
    border: 2px solid cyan;
}
footer{
    
    text-align: center;
    max-width: 250px;
    margin: 5px auto;
    border: 2px solid cyan;
    background-color: rgba(36, 22, 74, 0.8) ;
}
